body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #6D545D;
    color: lightgray;
    font-size: 50px;
    font-family: 'VT323', monospace;
}

#container {
    display: grid;
    width: 9em;
    height: 11em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 10px;
    gap: .07em;
    background-color: #ffb30fff;
    margin: auto;
}

button {
    font-family: inherit;
    font-size: 1em;
}

#answer-screen {
    grid-column: 1 / span 4;
    background-color: rgb(248, 203, 121);
    margin-bottom: .07em;
    color: darkorchid;
    text-align: right;
}

#num0 {
    grid-column: 1 / span 2;
}

.nums {
    background-color: #7189FF;
}

.nums:active {
    background-color: #4562f5;
}

.operator {
    background-color: #97B1A6;
}

.operator:focus {
    background-color: #6bb395;
}

.equals {
    background-color: #97B1A6
}

.equals:active {
    background-color: #6bb395;
}

.utility {
    background-color: #E2B4BD;
}

.utility:active {
    background-color: #e792a0;
}